html, body {
    height: 100%;
    
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
}

body1{ padding-top: 100px;
    width: 705px;
    display: table-cell;
    background-color: #fff;
    text-align: center;
    margin: auto;
}
body2{ display: inline-block;
    width: 444px;
    font-family: calibri;
    color: #0f393a;
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    vertical-align: top;
}

body6{ display: inline-block;
    width: 415px;padding-top:10px;
    font-family: calibri;
    color: #0f393a;
    text-align: right;
    padding-right: 30px; 
    font-size: 15px;
    vertical-align: top;
}
agradecimento{display:block; margin-top:-60px;}
image1{padding-left:30px;}
image6{padding-right:60px;}
topline {position: absolute; display:inline-block; width: 100%; background-color:#2dc9c2; height:10px;}
image3{position: absolute; margin-left: 420px; margin-top:20px; }
image4{position: absolute; margin-left: 130px; margin-top:0px; }
creditos{font-size:10px; display:block;padding-top:40px;padding-bottom:30px; opacity:60%; font-family:verdana;}
body3{ display: block;
    width: 705px;
    font-family: calibri;
    color: #0f393a;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;

}

button1{ background-color: #2dc9c2; padding: 5px 9px; padding-bottom:7px; margin: 10px;}

button2{margin:10px; vertical-align: middle;}

body4 {margin-left:-43px; margin-bottom:-30px;}

body5{ display:inline-block; background-color: #fff;
width: 326px; text-align:left; margin-left: 30px; vertical-align:top; margin-bottom:-30px;  }

title1{ display:block; padding-top:40px; font-size:30px; color: #ffc038;}

box1{ width:326px; background-color: #efefef; display: inline-block; padding: 7px; text-align: left; margin-bottom:25px;vertical-align:top;}

boxtext { display:block; padding:5px; text-align: justify;}
a{color: #f8868a; font-style: normal; text-decoration: none; border-bottom: 1px dashed #f8868a; line-height:0.4; }
a:hover{color:#f8868a; border-bottom: 1px dotted #efefef;}
button3{ display: inline-block;background-color: #2dc9c2; padding: 5px 9px; padding-bottom:7px; margin-top: 5px; }
button3:hover, button1:hover { opacity: 80%;  }
button3 a, button1 a{color:#0f393a;text-decoration: none; border-bottom:0px dashed #f8868a;}
button3 a:hover, button1 a:hover{color:#0f393a;text-decoration: none; border-bottom:0px dashed #f8868a;}
::-moz-selection {
    background:#ffcacc; 
    color: #0f393a;
    }

::selection {
    background:#ffcacc; 
    color: #0f393a;
    }


